[alias]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort
	b = branch -a
	c = commit
	co = checkout
	d = diff
	dc = diff --cached
	info = remote show origin
	l = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
	s = status --short --branch
	st = status
	fe = fetch
	pom = pull origin master
[color]
	ui = auto

[core]
	pager = LESSCHARSET=utf-8 less
	editor = /opt/homebrew/bin/vim
	excludesfile = /Users/kitada/dotfiles/gitignore/Global/Vim.gitignore

[merge]
	conflictstyle = diff3

[hub]
	protocol = https
	host = vcs.mediba.jp

[push]
	default = simple

[pull]
	rebase = false

[init]
	templatedir = $HOME/.git_template

[ghq]
	root = ~/.ghq
	root = ~/go/src

[ghq "vcs.mediba.jp"]
	vcs = git

[user]
	email = hokudenyoku@gmail.com
	name = kitatuba

[url "https://d62e087359ab87b4d412c23779015e59c6dd10d7:x-oauth-basic@vcs.mediba.jp/"]
	insteadOf = https://vcs.mediba.jp/
