[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule ".anyenv"]
	path = .anyenv
	url = https://github.com/riywo/anyenv
[submodule "gitignore"]
	path = gitignore
	url = git@github.com:github/gitignore.git
